* {
    box-sizing: border-box;
  }

/* Site-wide Text Styling */  

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-align: center; 
    font-size: 5em;
    text-transform: uppercase;
    margin: 0 auto; /* This centers the element horizontally */
}

h2 {
    text-align: center;
}

.body-content {
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
  } 
  
 a {
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    border: 1.5px solid transparent;
    text-decoration: none;
    color: black;
  }
  
a:hover {
    background-color: black;
    border-radius: 13px;
    color: white; 
    text-decoration: none;
  }
