* {
    box-sizing: border-box;
  }

/* Site-wide Text Styling */  

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-align: center; 
    font-size: 4em; /* Adjust the value as needed */
    text-transform: uppercase;
    margin: 0 auto; /* This centers the element horizontally */
    margin-bottom: 100px;
    letter-spacing: 18px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 45px; /* Set a minimum font size for smaller screens */
    }
}

h2 {
    text-align: center;
    font-family: "Cardo", serif;
    font-size: 1.1em;
}

.body-content {
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;
  } 

 a {
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }
  
a:hover {
    background-color: black;
    color: white; 
    text-decoration: none;
  }
