/*
Future ideas: 
    -get footer in consistent place on pages
    -calendar hovering- make equal size and have highlighted for current entry
    -submission form on about page- for submitting recipes and stories
    -print function- format recipe pages in 8.5x11 format
    -modal/lightbox windows for gallery images
  */

* {
    box-sizing: border-box;
  }

/* Site-wide Text Styling */  

h1 {
  font-family: 'Imbue', serif;
  font-weight: 100;
  text-align: center; 
  font-size: 10em;
  margin: -20px auto;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h2, h3 {
  font-family: 'Port Lligat Slab', serif;
  font-size: 2.1em;
  text-align: left;
  font-weight: 600;
}

h3 {
font-size: 1.5em;
}

h4, th {
font-family: 'Patrick Hand SC', cursive;
font-size: 1.2em;
margin-bottom: -10px;
}

p, li, caption {
font-family: 'Arvo', serif;
}

li {
  line-height: 1.5em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px;
  border: none;
  outline: none;
  background-color: black;
  border: 2px solid black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  font-family: 'Port Lligat Slab', serif;
  font-weight: 500;
  font-size: 1.3em;
}

#myBtn:hover {
  background-color:white; 
  border: 2px solid black;
  color: black;
}

/* NAVIGATION */

.navigation {
  list-style: none;
  margin: 20px;
  padding: 0;
  text-align: center;
}

.navigation li {
  display: inline;
  font-family: 'Port Lligat Slab', serif;
  font-weight: 500;
  font-size: 1.4em;
}

.navigation a {
  display: inline-block;
  padding: 15px;
  margin-left: 20px;
  border: 1.5px solid transparent;
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  background-color: black;
  border-radius: 13px;
  color: white; 
  text-decoration: none;
}

.navigation .active-navigation {
  border-radius: 13px;
  text-decoration: underline;
  text-underline-offset: .5em;
}


/* Link Styling */

p > a, h2 > a, h3 > a {
  color: rgb(221, 162, 0);
}

p > a:visited, h2 > a:visited, h3 > a:visited {
  color: rgb(221, 162, 0);
}

p > a:hover, h2 > a:hover, h3 > a:hover {
  color: red; 
}

/* INDEX PAGE -- Gallery, Figure, and Image Formatting */

.recipe-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0; 
    margin: 0 auto;
  }

.recipe-gallery img {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 15px;
  }
  
figure {
    display: flex;
    flex-flow: column;
    border: 1.5px solid black;
    padding: 10px;
    margin-bottom: 50px;
}
  
figcaption {
    font-family: 'Port Lligat Slab', serif;
    font-weight: 300;   
    font-size: 1.25em;
    padding-top: 10px;
  }

figure:hover {
    background-color: black;
    color: white;
}

/* RECIPE Pages */

.recipe-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.recipe-image img {
  border-radius: 15px;
  max-width: 45vh;
}

.recipe-instructions {
  width: 60%;
  min-width: 375px;
  padding: 35px;
  height: 57vh;
  overflow: scroll;
  background-color: #FBF9F7;
  border-radius: 15px;
}

.recipe-page p {
  line-height: 1.2em;
}

.recipe-page h3 {
  margin-bottom: -7px;
}

.ingredients li {  
  padding-left: 5px;
  list-style: url('assets/tile-flower.svg');
} 

.recipe-descriptors {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.15em;
  
}

.recipe-page h2 {
  margin-bottom: -5px;
  font-size: 2.5em;
  margin-top: -10px;
}

.ingredients-sublist {
  font-family: 'Port Lligat Slab', serif;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
}

/* JOURNAL - content */

.journal-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
}

.journal-gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 15px;
}

.journal-content img {
  width: 200px;
  border-radius: 10px;
}

article {
  padding: 10px 20px;
}

.journal-articles {
  max-height: 65vh;
  max-width: 1200px;
  overflow: scroll; 
}

/* Not sure if keeping divider, delete if not
.article-divider {
  border-bottom: .7px solid black;
  margin: 50px 0;
} */

/* JOURNAL PAGE - Calendar styling */

table, th, td {
  border-collapse: collapse;
  border: 2px solid white;
  margin: 0 auto;
  table-layout: fixed;
  width: 70px;
  text-align: center;
  padding: 5px;
}

td {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

tr {
  height: 70px;
  background-color: black;
  color: white;
}

#calendar-heading {
  background-color: white;
  height: 50px;
  color: black;
  vertical-align: center;
}

.empty {
  background-color: white;
}

.no-content{
  background: repeating-linear-gradient(
  45deg,
  rgb(61, 61, 61),
  rgb(61, 61, 61) 2px,
  white 2px,
  white 8px
);
color: rgb(0, 0, 0, 0);
}

.calendar-link {
  color: white;
  text-decoration: none;
  padding: 15px;
  /* ^figure out how to get this even for double digits */ 
  border-radius: 5px;
  text-align: center;
}

.calendar-link:hover{
  background-color: rgb(221, 162, 0);
  color: white; 
  border: 1px solid black; 
}

.calendar-link:active{
  background-color: red;
  border: 1px solid black; 
}

#calendar-note {
  text-align: center;
}

/* ABOUT Page */

.about-content-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 90%;
  padding: 25px;
  margin: 0 auto;
}

.about-content-text {
  width: 500px;
  min-width: 275px;
  padding-left: 15px;
}

#hello-graphic {
  font-size: .5em;
  text-align: left;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}  

.about-content-image img {
  width: 350px;
  border-radius: 15px;
}

/* COMING SOON page */

.coming-soon {
  background-color: black;
}

.coming-soon-text {
  color: white;
  text-align: center;
}

.coming-soon a {
  color: white;
  border: 1.5px solid white;
  border-radius: 13px;
}

.coming-soon a:hover {
  border: 1.5px solid white;
  background-color: white;
  border-radius: 13px;
  color: black; 
}

.coming-soon-content {
  width: 50%;
  max-width: 500px;
  margin: 50px auto;
  padding-top: 50px;
} 

.soup-gif {
  display: flex;
  align-items: center;
}

#gif {
  width: 200px;
  margin: 0 auto;
  align-items: center;
}

#main-title-link {
  color: black; 
  text-decoration: none;
 } 

 #footer {
  color: gray;
  text-align: center;
  font-size: small;
 }

/* Media Query for adjusting elements when screen is downsized */

 @media only screen and (max-width: 1200px) {
  .journal-content {
    flex-direction: column;
  }
  .journal-articles {
    max-height: 100%;
  }
  .journal-content img {
    width: 125px;
  }
  .recipe-instructions {
    width: 80%;
    height: 100%;
  }
}