/* ---------- Text Styling ---------- */
body {
	background-color: #faf9f6;
	width: 80%;
	margin: 0 auto;
	}

h1 {
	font-family: 'DM Serif Text', serif;
	color: #201E1B;
} 

h2 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #730F0A;
}

h3 {
	font-family: 'Archivo', sans-serif;
}

p, ol {
	font-family: 'Alegreya', serif;
    color: #201E1B;
	font-size: 1.1em;
}

nav {
	font-family: 'Archivo', sans-serif;
	color: #730F0A;
}

nav > ul {
    list-style: none;
}

.body_text {
	margin: 30px;
	margin-top: 45px;
}

.previous-next {
	display: grid;
}

.next-page {
	text-align: right;
}

.previous-page {
	text-align: left;
}

.emphasizedquotes {
	font-family: 'DM Serif Text', serif;
    color: #730F0A;
	text-align: center;
	font-style: italic;
} 

.section-divider {
	border-bottom: .5px solid #77726A;
}

/* Title Styling */

.title {
	font-size: 1.3em;
  }
  
.underline {
	text-decoration: underline;
	text-decoration-color: #730F0A;
	text-decoration-thickness: 1.5px;
	text-underline-offset: 6px;
}  

.credit-line > p {
	line-height: .5em;
	font-size: 1.3em;
	font-weight: 700;
	font-style: italic;
	margin-top: -7px;
}

/* ---------- Navigation Styling ---------- */

/* Main Navigation at the top */
.main-navigation li {
	padding-right: 50px;
}

/* Bottom Navigation on content pages */
.bottom-navigation {
	list-style: none;
	margin: 10px;
	padding: 10px;
	text-align: center;
  }

.bottom-navigation li {
	display: inline;
  }

.bottom-navigation a{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border: 1.5px solid transparent;
	text-decoration: none;
	color: #730F0A;
  }

  .bottom-navigation a:hover {
	background-color: #730F0A;
	border-radius: 10px;
	color: white;
	text-decoration: none;
  }

  .bottom-navigation .active-navigation {
	border-radius: 10px;
	text-decoration: underline;
	text-underline-offset: .5em;
  }

  /*sidebar nav for our personal sections*/

.side-navigation {
	width: 150px; 
	height: fit-content;
	border: 1.5px solid #77726A;
	text-align: right;
	padding: 10px;
}

.text {
	margin-left: 60px;
	margin-bottom: 70px;
	padding: 0 10px;
} 

.chapter-content {
	display: flex;
}

/*Home Page--Chapter Navigation*/

.chapter-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

.chapter-link {
    display: flex;
    flex-flow: column;
    border: 1.5px solid #77726A;
	max-width: 350px;
	height: 500px;
	margin: 30px;
}

.chapter-link > h2 {
	text-align: center;
	margin-bottom: 15px;
}

.chapter-link > p {
	padding: 20px;
}

.chapter-link:hover{
	background-color: #730F0A;
	color: white;
}

.chapter-link:hover > * {
	color: white;
}

.index-images {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}


/* ---------- Link Styling ---------- */

a:link {
    color: #730F0A;
	text-decoration: none;
}

a:visited {
    color: #77726A;
	text-decoration: none;
}

a:hover {
    color: #AC2922;
	text-decoration: none;
}

#active-navigation {
	color: #730F0A;
}

/* ---------- ABOUT US section ---------- */

.headshot {
	border-radius: 50%;
	filter: grayscale(100%);
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.copyright {
	bottom: 0;
	font-family: 'Archivo', sans-serif;
	color: #77726A;
	text-align: center;
	font-size: small;
}

.headshot {
	float:left;
}
.bio {
	float: right;
	border: 2.5px solid #730F0A;
	margin-bottom: 20px;
	padding: 10px 20px;
}

#headshot_tereza{
	float: right;
}


/* ---------- Alyse - Data Section Styling ---------- */

.random-artwork {
	display: flex;
}

#random-artwork-image {
	padding: 35px;
	margin: 10px;
	height: 400px;
	border: 1.5px solid #730F0A;
}

.artwork-info {
	padding-left: 25px;
}

.artwork-field {
	font-family: 'Archivo', sans-serif;
}

.code-block {
	font-family: monospace;
	color: #730F0A;
	background-color: #ebebeb;
	padding: 20px;
}

button {
	all: unset;
	font-family: 'Archivo', sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	padding: 10px;
	border: 1px solid #730F0A;
}

button:hover {
	cursor: pointer;
	color: white;
	background-color: #730F0A;
	border: 1px solid #730F0A;
}

.data-image {
	height: 400px;
}

.data-introduction-gallery, .data-analysis-gallery, .data-description-gallery {
	margin: 40px auto;
}

.data-analysis-image {
	padding: 10px;
	height: 500px;
}


.data-introduction-image {
	height: 300px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #faf9f6;
}

.data-introduction-image:hover{
	border: 1px solid #730F0A;
}

.data-gallery-caption {
	font-style: italic;
	font-size: .9em;
	padding-left: 30px;
}

.data-image-full-width {
	max-width: 100%;
}


/* ---------- Tereza - Beyond Section Styling ---------- */

.beyond-three{
	color: #730F0A;
	font-weight: 700;
}